/* IMPORTAR LAS FUENTES */
@import url('https://fonts.googleapis.com/css2?family=Koulen&display=swap');

*{
    border: 0;
    margin: 0;
    padding: 0;
}

main{
    background-color: #1f1c1c;
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
}

main > div{
    margin: 15vw;
    flex-direction: column;
    height: max-content;
}

main > div > h1{
    font-size: 7.5vw;
    font-family: 'Koulen', cursive;
    width: max-content;
    margin-top: 5vh;
}

main > div > h1:nth-child(1){
    margin-top: 0vh;
}

main > div > h1:nth-child(2){
    margin-top: 0vh;
}


.white{
    color: white;
}

.red{
    margin-top: 5vh;
    color: red;
}

h1 > a{
    text-decoration: none;
    color: none;
}